{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ action }} Internship - Lwazi Blue{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h4 class="mb-0">
                    <i class="bi bi-briefcase"></i> {{ action }} Internship
                </h4>
            </div>
            <div class="card-body p-4">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    
                    <div class="text-end mt-4">
                        <a href="{% url 'core:employer_internships' %}" class="btn btn-secondary">
                            <i class="bi bi-x-circle"></i> Cancel
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="bi bi-save"></i> Save Internship
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

