{% extends 'base.html' %}

{% block title %}About - Lwazi Blue{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="mb-4">About Lwazi Blue</h1>
            <p class="lead">
                Lwazi Blue is a platform designed to bridge the gap between unemployed graduates 
                and potential employers in South Africa.
            </p>
            <p>
                Our mission is to connect talented graduates with opportunities that match their 
                skills, qualifications, and career aspirations.
            </p>
            <p>
                <em>This page will be fully implemented in Phase 11 of the development plan.</em>
            </p>
        </div>
    </div>
</div>
{% endblock %}

