{% extends 'base.html' %}

{% block title %}Contact - Lwazi Blue{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <h1 class="mb-4">Contact Us</h1>
            <p class="lead">
                Get in touch with the Lwazi Blue team.
            </p>
            <p>
                <strong>Email:</strong> info@lwazi-blue.co.za<br>
                <strong>Location:</strong> South Africa
            </p>
            <p>
                <em>Contact form will be implemented in Phase 11 of the development plan.</em>
            </p>
        </div>
    </div>
</div>
{% endblock %}

